h1{
  color: aqua;
}

.note{
  font-size: 1.2rem;
  list-style: none;
  padding: 0.6rem .1rem;
}

.error{
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}